$commentBase: #e74851;
/* 评论框 */
.comment {
  width: 90%;
  height: auto;
  position: relative;
  margin: 0 auto;
  .head-face {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: absolute;
    top: -40px;
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $commentBase;
    box-sizing: border-box;
    border: 1px solid $commentBase;
    img {
      width: 78px;
      height: 78px;
      border-radius: 50%;
    }
    p {
      font-size: 12px;
      font-family: "微软雅黑";
    }
  }
  .content {
    width: 100%;
    height: 120px;
  }
}
.cont-box {
  width: 100%;
  height: 150px;
  border: 1px solid $commentBase;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-sizing: border-box;
  .text {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 30px 20px 10px;
    color: #999;
    font-family: "微软雅黑";
    font-size: 14px !important;
    resize: none;
    border: none;
    outline: none;
  }
}
.tools-box {
  width: 100%;
  height: 30px;
  border: 1px solid $commentBase;
  margin-top: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  float: left;
  .operator-box-btn {
    width: 85%;
    height: 30px;
    float: left;
    .face-icon {
      display: block;
      float: left;
      margin-top: -1px;
      margin-left: 10px;
      font-family: "微软雅黑";
      font-size: 22px;
      color: $commentBase;
      cursor: pointer;
    }
    .img-icon {
      display: block;
      float: left;
      margin-top: -11px;
      margin-left: 10px;
      font-family: "微软雅黑";
      font-size: 33px;
      font-weight: lighter;
      color: #99cc66;
      cursor: pointer;
    }
  }
  .submit-btn {
    width: 15%;
    height: 30px;
    float: right;
    input {
      width: 100%;
      height: 100%;
      font-family: "微软雅黑";
      font-size: 14px;
      color: #fff;
      cursor: pointer;
      border: none;
      outline: none;
      background-color: $commentBase;
    }
  }
}
/* 回复信息 */
#info-show {
  float: left;
  width: 100%;
  margin-top: 20px;
  li {
    width: 100%;
    height: auto;
    padding: 10px 0 20px 0;
    border-bottom: 1px dashed #c0c0c0;
    float: left;
  }
}
#info-show .head-face {
  width: 10%;
  float: left;
  text-align: center;
}
#info-show .head-face img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 8px #c0c0c0;
}
#info-show .reply-cont {
  width: 89%;
  padding-right: 1%;
  float: right;
}
#info-show .reply-cont p {
  min-height: 20px;
  line-height: 20px;
  font-family: "微软雅黑";
  font-size: 14px;
}
#info-show .reply-cont .username {
  color: $commentBase;
  margin-bottom: 5px;
}
#info-show .reply-cont .comment-body {
  color: #999;
  max-height: auto;
}
#info-show .reply-cont .comment-footer {
  font-size: 12px;
  color: #c0c0c0;
  margin-top: 10px;
}
