/* login */
@keyframes animar_fondo {
  from {
    -webkit-transform: scale(1) translate(0px);
    -moz-transform: scale(1) translate(0px);
    -ms-transform: scale(1) translate(0px);
    -o-transform: scale(1) translate(0px);
    transform: scale(1) translate(0px);
  }
  to {
    -webkit-transform: scale(1.5) translate(50px);
    -moz-transform: scale(1.5) translate(50px);
    -ms-transform: scale(1.5) translate(50px);
    -o-transform: scale(1.5) translate(50px);
    transform: scale(1.5) translate(50px);
  }
}
@keyframes identifier {
  from {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
}
/* 显示隐藏动画 */
.show-box-leave-active, .show-box-enter-active {
  transition: all 1s;
}
.show-box-leave {
  transform: translateX(0);
  opacity: 1;
}
.show-box-leave-to {
  transform: translateX(-30px);
  opacity: 0;
}
.show-box-enter {
  transform: translateX(30px);
  opacity: 0;
}
.show-box-enter-to {
  transform: translateX(0);
  opacity: 1;
}
