@import "base.scss";
/* 评论模板CSS */
@import "../assets/comment/css/main";
@import "../assets/comment/css/sinaFaceAndEffec";

.iconfont {
  width: 30px;
  height: 30px;
  vertical-align: -5px;
  fill: currentColor;
  overflow: hidden;
}
/* 清除浮动 */
.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
  }
}
/* 盒子动画 */
.child-view {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% - 60px);
  transition: all .5s cubic-bezier(.55, 0, .1, 1);
  &.heigth {
    height: auto;
  }
}
.slide-left-enter, .slide-right-leave-active {
  opacity: 0;
  -webkit-transform: translate(30px, 0);
  transform: translate(30px, 0);
}
.slide-left-leave-active, .slide-right-enter {
  opacity: 0;
  -webkit-transform: translate(-30px, 0);
  transform: translate(-30px, 0);
}
/* scrollbar 样式 */
.scrollBar::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}
.scrollBar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}
.scrollBar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
/* 懒加载动画 */
.spinner-circular {
  width: 80px;
  height: 80px;
  position: relative;
  margin: 300px auto;
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #000000;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
  }
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
}
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0.0)
  }
  50% {
    -webkit-transform: scale(1.0)
  }
}
@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
