@import "base.scss";
.iconfont {
  width: 30px;
  height: 30px;
  vertical-align: -5px;
  fill: currentColor;
  overflow: hidden;
}
.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
.child-view {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% - 60px);
  transition: all .5s cubic-bezier(.55,0,.1,1);
  &.heigth{
    height: auto;
  }
}
.slide-left-enter, .slide-right-leave-active {
  opacity: 0;
  -webkit-transform: translate(30px, 0);
  transform: translate(30px, 0);
}
.slide-left-leave-active, .slide-right-enter {
  opacity: 0;
  -webkit-transform: translate(-30px, 0);
  transform: translate(-30px, 0);
}
